APP_NAME="nova-oms"
APP_VERSION="v1.0.0-RC1"
APP_ENV="development"
AWS_REGION="us-east-1"

#DB
DB_USER="nova"
DB_PASSWORD="nova"
DB_HOST="192.168.20.103:5432"
DB_NAME="nova_oms"

#AUTH Provider
AUTH_PROVIDER="cognito"
#Cognito
AWS_COGNITO_CLIENT_ID="1234"
AWS_COGNITO_USER_POOL_ID="1234"
#JWT
JWT_EXPIRATION_TIME="24"
JWT_SECRET="jwtsecret654321"
JWT_ACCESS_TOKEN_EXPIRES="3600"
JWT_REFRESH_TOKEN_DAYS="1"

#S3
AWS_S3_BUCKET="novaoms-dev-attachments"
AWS_S3_PREFIX="attachments"
CORS_ORIGINS=["*"]

AWS_S3_EXPIRATION="300"
AWS_S3_MAX_FILE_SIZE="10485760"
AWS_S3_ALLOWED_EXTENSIONS="pdf,png,jpg,jpeg,doc,docx,xlsx,xls"
AWS_S3_ALLOWED_CONTENT_TYPES="application/pdf,image/png,image/jpeg,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"

#EventBridge Event Bus
AWS_EVENT_BUS_NAME="novaoms-dev-bus"

#SES 
SES_EMAIL_ADDRESS="notificaciones@tudominio.com"

#SAM, localStack 

AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=us-east-1
AWS_REGION=us-east-1

AWS_ENDPOINT_URL="http://192.168.20.103:4566"

#S3
AWS_S3_FORCE_PATH_STYLE="true"

